<div class="banner">
  <nav id="nav">
    <ul class='menu'>
        <li class='film'>
          <% if params[:controller] == 'photos' %>
            <%= link_to 'FILM PHOTOGRAPHY 📸', root_path, class:'nav-btn active navbar-font' %>
          <% else %>
            <%= link_to 'FILM PHOTOGRAPHY 📸', root_path, class:'nav-btn navbar-font' %>
          <% end %>
        </li>
        <li class='music'>
        <% if params[:controller] == 'bands' %>
          <%= link_to 'MUSIC', bands_path, class:'nav-btn active navbar-font'%></li>
        <% else %>
          <%= link_to 'MUSIC', bands_path, class:'nav-btn navbar-font'%></li>
        <% end %>
          <input type="button" value="Play me 🔊" class = 'nav-btn navbar-font play-btn'>
        <li class='play'>
          <audio id="audio-navbar" src="https://res.cloudinary.com/benstvit/video/upload/v1649850611/development/4vli2dz4s49rl0zwpabfjm5st4va.mp3"></audio>
        </li>
        <li class='contact'>
          <% if params[:controller] == 'contact' %>
            <%= link_to 'CONTACT', new_contact_path , class:'nav-btn active navbar-font' %>
          <% else %>
            <%= link_to 'CONTACT', new_contact_path , class:'nav-btn navbar-font' %>
          <% end %>
        </li>
    </ul>
    <ul class='sub-menu'>
      <ul class='dropdown dropdown1'>
        <li><a href='#'>Here, There & Everywhere</a></li>
        <li><a href='#'>By The Seas</a></li>
        <li><a href='#'>Portraits</a></li>
        <li><a href='#'>Live Music</a></li>
      </ul>
    </ul>
  </nav>
</div>

<script>

  const audioNavbar = document.getElementById("audio-navbar");
  const playButtonNavbar = document.querySelector('.play-btn')

  function playSong(e) {
    if(audioNavbar.paused) {
      audioNavbar.play()
      this.classList.add('active')
    } else {
      audioNavbar.pause()
      this.classList.remove('active')
    }
  }

  function playingDesign(e) {
    if(this.classList.contains('active')) {
      this.value = 'Pause me 🔇'
    } else {
      this.value = 'Play me 🔊'
    }
  }
  playButtonNavbar.addEventListener('click', playSong)
  playButtonNavbar.addEventListener('click', playingDesign)

//SUB MENU

const filmTrigger = document.querySelector('.film')
const subMenu = document.querySelector('.sub-menu')
const nav = document.querySelector('.nav')

function handleEnter() {
    subMenu.classList.add('trigger-enter');
    setTimeout(() => subMenu.classList.contains('trigger-enter') && subMenu.classList.add('trigger-enter-active'), 150);
  }

  function handleLeave() {
    this.classList.remove('trigger-enter', 'trigger-enter-active');
  }

  filmTrigger.addEventListener('mouseenter', handleEnter);
  filmTrigger.addEventListener('mouseleave', handleLeave);

</script>
