<div class="banner">
  <nav id="nav">
    <ul>
      <li>
      <% if params[:controller] == 'photos' %>
        <%= link_to 'FILM PHOTOGRAPHY 📸', root_path, class:'nav-btn active navbar-font' %>
      <% else %>
        <%= link_to 'FILM PHOTOGRAPHY 📸', root_path, class:'nav-btn navbar-font' %>
      <% end %>
        <%# <ul class="dropdown courses">
          <li>
            <span class="code">RFB</span>
            <a href="https://ReactForBeginners.com">React For Beginners</a>
          </li>
          <li>
            <span class="code">ES6</span>
            <a href="https://ES6.io">ES6 For Everyone</a>
          </li>
          <li>
            <span class="code">NODE</span>
            <a href="https://LearnNode.com">Learn Node</a>
          </li>
        </ul> %>
      </li>
      <li>
      <% if params[:controller] == 'bands' %>
        <%= link_to 'MUSIC', bands_path, class:'nav-btn active navbar-font'%></li>
      <% else %>
        <%= link_to 'MUSIC', bands_path, class:'nav-btn navbar-font'%></li>
      <% end %>
      <li><%= link_to 'Play Me 🎵', '#', class:'nav-btn navbar-font play-btn' %></li>
      <% if params[:controller] == 'contact' %>
        <li><%= link_to 'CONTACT', '#', class:'nav-btn active navbar-font' %></li>
      <% else %>
        <li><%= link_to 'CONTACT', '#', class:'nav-btn navbar-font' %></li>
      <% end %>
    </ul>
  </nav>
</div>

<script>
  // const playButton = document.querySelector('.play-btn')

  // function playSong(e) {
  //   console.log('should play')
  //   // audio.play()
  //   // console.log(e)
  //   // playButton.classList.toggle('playing')
  //   // cl_video_tag(random_song, controller: true)
  // }

  // playButton.addEventListener('click', playSong)

</script>
