<div class="form-container">
  <h1>Any question ? Want to team up ? </h1>
  <div class='contact-form'>
    <%= simple_form_for @contact do |f| %>
      <div class="col-md-6">
        <%= f.label :name, class:'label' %></br>
        <%= f.text_field  :name, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :email, class:'label' %></br>
        <%= f.text_field :email, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :message, class:'label' %></br>
        <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area p-2",
              placeholder: "What do you want to talk about?"%></br>

        <div class= "d-none">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
        </div>

        <%= f.submit 'Send message 🗞🕊', class: 'nav-btn p-2' %>
      </div>
    <% end %>
  </div>
</div>

<%# Pour mettre en production : https://gist.github.com/stevecondylios/16a53b73f22621e3cde2e17096dbf5ca  %>
