<div class='form-container'>
  <h2>Nouvel album</h2>
  <%= simple_form_for @album do |a| %>
    <%= a.input :name, label: "Nom de l\'album" %>
    <%= a.input :genre, label: 'genre'%>
    <%= a.input :release_year, as: :date, html5: true, label: 'Date de sortie'%>
    <%= simple_fields_for :band do |b| %>
      <% b.input :band, collection: @bands%>
      <% end %>
    <div class='tracks-upload'>
      <%= simple_fields_for :track do |t|%>
        <%= t.input :title, label: 'Nom de la piste'%>
        <%= t.input :audio, as: :file %>
      <% end %>
    </div>
    <%= a.submit 'Enregistrer nouvel artiste', class: 'btn btn-success m-3' %>
  <% end %>
</div>
