<div class='bands-container'>
  <h1>Music Projects</h1>
  <% i = 1 %>
  <%= @bands.each do |band| %>
    <h2><%= band.name %></h2>
    <div class='band-container'>
      <div class='band-img' data-id= "<%= band.id %>" >
        <%= link_to cl_image_tag(band.image.key), band_path(band) %>
      </div>
      <div class='band-description slide-in' data-id= "<%= band.id %>">
        <p><%= band.description %></p>
        <div class="links">
          <a class='sm-link' href="<%= band.spotify_url%>" target="_blank" %><i class="fa-brands fa-spotify display2"></i></a>
          <a class='sm-link' href="<%= band.facebook_url%>" target="_blank" %><i class="fa-brands fa-facebook-square"></i></a>
          <a class='sm-link' href="<%= band.youtube_url%>" target="_blank" %><i class="fa-brands fa-youtube-square"></i></a>
        </div>
      </div>
    </div>
      <% if policy(:band).destroy? %>
        <%= link_to "Delete #{band.name}", band_path(band), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-success m-3' %>
      <% end %>
      <% if policy(:band).update? %>
        <%= link_to "Edit #{band.name}", edit_band_path(band), class: 'btn btn-success m-3' %>
      <% end %>
      <% i += 1 %>
  <% end %>
</div>

<script>
const bandImages = document.querySelectorAll('.band-img')
const bandDescriptions = document.querySelectorAll('.band-description')

function translate(e) {
  //TO DO :
  // si transition en cours, ne pas appliquer
  // uniquement atteindre le .band-description de l'image cliquée DONE
  if(e.type === 'mouseover') {
    bandDescriptions.forEach(description => description.classList.remove('no-transition'))
    this.classList.add('hover')
    setTimeout(() => {
      bandDescriptions.forEach((description) => {
        if(this.dataset.id === description.dataset.id)
        description.classList.add('active')
        })
    }, 600);
    transitionFinished = true
  // } else {
  //   this.classList.remove('hover')
  //   bandDescriptions.forEach(description => description.classList.add('no-transition'))
  //   bandDescriptions.forEach(description => description.classList.remove('active'))
  }
}

bandImages.forEach(bandImage => bandImage.addEventListener('mouseover', translate))
// bandImages.forEach(bandImage => bandImage.addEventListener('mouseleave', translate))


</script>
