<div class='bands-container'>
  <h1>Film Photography</h1>
  <div class="photos-container background">
    <% counter = 1 %>
    <% @photos.each do |photo| %>
    <div class='photo-container'>
      <div class="photo" data-id="<%=counter%>">
        <%= cl_image_tag(photo.image.key, class: 'photo-img')%>
      </div>
      <div class="photo-description">
        <ul>
          <li><h3><%= photo.title %></h3></li>
          <li><%= photo.location %></li>
          <li class='quote'><%= photo.description %></li>
        </ul>
      </div>
    </div>
    <% counter += 1 %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'photos.js' %>
