<div class='form-container'>
  <h2>Nouvelle photo</h2>
  <%= simple_form_for @photo do |f| %>
    <%= f.input :image, as: :file %>
    <%= f.input :title, label: "Title" %>
    <%= f.input :location, label: "Location" %>
    <%= f.input :category, label: "Category" %>
    <%# <%= f.input :category, collection: ['By the Seas', 'Here, There & Everywhere', 'Portraits', 'Live Music', 'Wild Life'], value_method: :second, as: :check_boxes %>
    <%= f.input :description, as: :text %>
    <%= f.submit 'Enregistrer nouvelle photo', class: 'btn btn-success' %>
  <% end %>
</div>
